@media screen and (max-width:430px){
    .logo {
        width: 200px;
    }
    .cta-weather {
        color: #ffc800;
        font-size: 35px;
        line-height: 1;
    }
    .piles {
        background-color: #2d2d2d;
        color: #ededed;
        padding: 3px 16px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        font-size: 11px;
        gap: 5px;
    }
    .details .sub-heading {
        text-transform: lowercase;
        font-size: 9px;
        color: #3c3c3c;
    }
    

@media screen and (max-width:325px) {
    .cardSection {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }
}
@media screen and (max-width:770px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        padding: 10px 40px;
        border-radius: 0px;
    }
}